@import url(http://fonts.googleapis.com/css?family=Lato);

* {
    font-family: 'Lato', sans-serif;
}

.klepsydra-form{
  text-align: center;
  font-size: 150%;
}

.klepsydra-form-input{
  outline: 0px;
  border: 1px solid #70E2FF;
  border-radius: 6px;
  height: 3vh;
  font-size: 65%;
}

.time-input{
  width: 15vh;
}

#description{
  font-weight: bold;
  text-align: center;
  font-size: 175%;
  padding: 2vh 35vh 2vh 35vh;
}

.taskbox-field{
  text-align: center;
}

.message-field{
  text-align: center;
}

.taskbox{
  display: inline-block;
  text-align: center;
  font-weight: bold;
  height: 30vh;
  width: 30%;
  background-color:#33D6FF;
  border-radius: 10px;
  margin-top: 1vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  color: #ffffff;
}

.taskbox:hover{
  background-color:#70E2FF;
}

.taskname{
  font-size: 225%;
}

.timer{
  font-size: 400%;
}

.break-info {
  font-size: 33%;
}

.complete {
  font-size: 50%;
}

#newTask{
  outline: 0px;
  border: 1px solid #70E2FF;
  background-color:#33D6FF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 80%;
  margin-left: 1vh;
  height: 3.5vh;
  width: 20vh;
}

#newTask:hover{
  background-color:#70E2FF;
}

#task-input{
  width: 50vh;
}

#break-clock{
  font-weight: bold;
  color: #33D6FF;
}

#break-msg{
  font-size: 200%;
}

#footer{
  color: #70E2FF;
  text-align: center;
  font-size: 80%;
}
