.klepsydra-form{
  text-align: center;
}

.taskbox-field{
  text-align: center;
}

.taskbox{
  display: inline-block;
  text-align: center;
  font-weight: bold;
  height: 30vh;
  width: 30%;
  background-color:#cc0000;
  border-radius: 10px;
  margin-top: 1vh;
  margin-left: 3vh;
  margin-right: 3vh;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.taskbox:hover{
  background-color:#66CCFF;
}
